html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: .875em;
    line-height: 1.4;
    
}

::-webkit-scrollbar {
    display: none;
}

.clickable {
    outline: none;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

.mod-image {
	float: left;
	width: 135px;
	height: 180px;
}

#animTest {
    /* background-image: url("../img/newtradeMap.jpg"); */
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

a:hover {
    color: #06e;
    cursor: pointer;
 }

.hidden {
    display: none !important;
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}





/* Chris' test div styling */

#gamebox {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;
    line-height: 0.5;
}

hr {
    width: 80%;
    height: 5px;
    color: silver;
}

.buyTit{
    text-align: center;
}

.events {
    background-image: url("../img/stone-background.jpg");
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 250px;
    border: solid goldenrod;
    color: white;
    padding: 1%;
    z-index: 3;
    font-size: 16;
    display: none;
}

#eventName{
    text-align: center;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.events:hover {
    cursor: pointer;
}

.modal-content{
    background-image: url("../img/modal.jpg");
}

/* .modal-content{
    background-color: black;
    color: white;
} */

.modal-header{
    text-align: center;
}

.dHead {
    border: solid silver;
    background-image: url("../img/stone-background.jpg");
    opacity: 1;
    border-radius: 2%;
    font-size: 20px;
    padding-top: 8px;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#pName {
    font-size: 30px;
}

.dHead:hover {
    border: solid gold;
    border-radius: 5%;
    cursor: pointer;
}

.dBody {
    background-image: url("../img/invbg.png");
    border: white transparent;
    border-radius: 1%;
    padding: 10px;
}

#tooltip {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}

span {
    text-align: right;
}

/* Chris animation styling */

#mapcontainer {
    position: relative;
}



#carriage {
    position: absolute;
    top: 600px;
    left: 600px;
    z-index: 2;
    height: 50px;
    
}

/* Chris tooltip */
#upgrade {
    postion: relative;
    margin-left: 25px;
    
}

#upgradep {
    
    overflow: visible;
}








