html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: .875em;
    line-height: 1.4;
}

.clickable {
    outline: none;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

.mod-image {
	float: left;
	width: 135px;
	height: 180px;
}

#animTest {
     background-image: url("../img/tradeMap.jpg") 
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

a:hover {
    color: #06e;
    cursor: pointer;
 }

.hidden {
    display: none !important;
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}





/* Chris' test div styling */

#gamebox {
    background: lightblue;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 3;
    font-size: 12;
    line-height: 0.5;
}

span {
    text-align: right;
}




